.center{
  height: calc(100vh - 48px);
  display: flex;
  justify-content: center;
  align-items: center;

  form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    input, button{
      width: 100%;
      margin-bottom: 35px;
      box-sizing: border-box;
    }
  }

  .card{
    width: 60%;
  }

  .error{
    background-color: #b02d2d;
    text-align: center;
    padding: 7px;
    box-sizing: border-box;
    color: #ffffff;
    box-shadow: 0 0 5px #b02d2d;
  }
}
