$svgSize: 1.5rem;

.text {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  span {
    width: $svgSize;
    height: $svgSize;
  }

  svg {
    cursor: pointer;
    font-size: $svgSize;

    &:hover {
      fill: #771e76;
    }
  }

  @media (max-width: 640px) {
    $svgSize: 1.2rem;
    span {
      width: $svgSize;
      height: $svgSize;
    }

    svg {
      font-size: $svgSize;
    }
  }
}

.withFlexStart {
  align-items: flex-start;
}

.withFlexEnd {
  align-items: flex-end;
}

.copied{
  position: absolute;
  opacity: 0;
  left: 20px;
  right: 0;
  top: 30px;
  text-align: center;
  width: max-content !important;
  background-color: #1b1b1b;
  padding: 8px;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;

  &.show{
    top: 30px;
    opacity: 1;
  }
}
