.form {
  background-color: #222222;
  border-radius: 5px;
  width: max-content;
  padding: 20px 35px;

  div {
    margin: 20px 0;
  }

  .align-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
