.creator {
  display: grid;
  grid-template-columns: 30% 60%;
  column-gap: 10%;

  .leftSpace {
    display: flex;
    flex-direction: column;

    & > div, & > button {
      margin-bottom: 34px;
    }
  }
  .rightSpace {
    display: flex;
    flex-direction: column;

    & > div {
      margin-bottom: 34px;
    }
  }

  .inline {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 250px
    }
  }
}

.formNameWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;

  .copyText {
    width: 90%;
    margin: 0 0 0 10px;
    justify-content: space-between;
    overflow-x: scroll;
    scrollbar-color: #771e76 #1b1b1b;
    scrollbar-width: thin;
    white-space: nowrap;
  }
}

.rowGap {
  margin-bottom: 24px;
}
.fullWidth > div:first-of-type {
  width: 100%;
}
