.center {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  ul {
    list-style: none;
    text-align: center;
    li {
      margin: 8px 0;
    }
  }

  .card{
    width: 60%;
  }
}

.bottom{
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  font-size: 0.8em;
  text-align: center;
  color: #bdaeae;
  a{
    color: #771e76;
  }
}
