$size: 45px;
$circumference: 3.14 * 2 * $size;

.circle{
  stroke: url('#linear-loading-gradient');
  stroke-width: 8px;
  fill: none;
  stroke-dashoffset: -$circumference;
  stroke-dasharray: $circumference;
  animation: loadingAnimation alternate 2.4s infinite;
  transform: rotateZ(270deg);
  transform-origin: center;
}

@keyframes loadingAnimation {
  0% {
    stroke-dashoffset: $circumference;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -$circumference;
  }
}

.circleStorybook{
  font-size: 80px;
}
