.footer {
  position: absolute;
  bottom: 8px;
  left: 10px;
  color: #bdaeae;
  font-size: 0.8em;

  a {
    text-decoration: none;
  }

  @media (max-width: 640px) {
    margin-bottom: -8px;
    position: relative;
    top: 8px;
    bottom: 0;
    left: -14px;
  }
}
