.ReactTags__tags {
  width: 100%;
  box-sizing: border-box;
  margin: 15px 0;
}
.ReactTags__tagInputField {
  width: 100%;
  box-sizing: border-box;
  background-color: #222222;
  border-left: 2px solid;
  border-right: 2px solid;
  border-image: linear-gradient(180deg, #222 0%, #222 49%, #771e76 50%, #771e76 100%) 1;
  border-bottom: 2px solid;
  padding: 8px;
  color: #bdaeae;
  font-size: 17px;
}

.ReactTags__tagInput {
  margin-bottom: 10px
}

.ReactTags__selected {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 10px;
  row-gap: 8px;
}

.ReactTags__tag {
  border: 1px solid #bdaeae;
  border-radius: 10px;
  padding: 4px 8px;
  cursor: default !important;
}
.ReactTags__remove {
  padding-left: 8px;
  color: #ff3c3c;
  cursor: pointer;
}
